name: Test

on:
  pull_request:
  push:
  schedule:
    - cron: '0 6 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          {% for v in python_versions %}
          - '{{v}}'
          {% endfor %}
          {% if supports_pypy3 %}
          - 'pypy3'
          {% endif %}
        {% if extra_testenvs %}
        toxenv: [py]
        include:
        {% for testenv, pyver in extra_testenvs %}
          - python-version: '{{pyver}}'
            toxenv: {{testenv}}
        {% endfor %}
        {% endif %}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ '{{' }} matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          {% if no_pytest_cov %}
          python -m pip install --upgrade --upgrade-strategy=eager coverage tox
          {% else %}
          python -m pip install --upgrade --upgrade-strategy=eager tox
          {% endif %}

      {% if no_pytest_cov %}
      - name: Run tests
        {% if extra_testenvs %}
        run: tox -e ${{ '{{' }} matrix.toxenv }}
        {% else %}
        run: tox -e py
        {% endif %}

      - name: Generate XML coverage report
        {% if extra_testenvs %}
        if: matrix.toxenv == 'py'
        {% endif %}
        run: coverage xml
      {% elif extra_testenvs %}
      - name: Run tests with coverage
        if: matrix.toxenv == 'py'
        run: tox -e py -- --cov-report=xml

      - name: Run generic tests
        if: matrix.toxenv != 'py'
        run: tox -e ${{ '{{' }} matrix.toxenv }}
      {% else %}
      - name: Run tests
        run: tox -e py -- --cov-report=xml
      {% endif %}

      - name: Upload coverage to Codecov
        {% if extra_testenvs %}
        if: matrix.toxenv == 'py'
        {% endif %}
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: false

# vim:set et sts=2:
