"""
{{short_description}}

{% set seealso %}
Visit <https://github.com/{{github_user}}/{{repo_name}}>{% if has_docs %} or
<https://{{rtfd_name}}.rtfd.io>{% endif %} for more information.
{% endset %}
{{seealso|rewrap}}
"""

{% if uses_versioningit %}
from importlib.metadata import version

__version__ = version("{{project_name}}")
{% else %}
__version__ = "{{version}}"
{% endif %}
__author__ = "{{author}}"
__author_email__ = "{{author_email}}"
__license__ = "MIT"
__url__ = "https://github.com/{{github_user}}/{{repo_name}}"
