[build-system]
{% if uses_versioningit %}
requires = [
    "setuptools >= 46.4.0",
    "versioningit",
]
{% else %}
requires = ["setuptools >= 46.4.0"]
{% endif %}
build-backend = "setuptools.build_meta"
{% if uses_versioningit %}

[tool.versioningit]
{% endif %}
