[build-system]
requires = [
    "setuptools >= 46.4.0",
    {% if uses_versioningit %}
    "versioningit ~= 1.0",
    {% endif %}
    "wheel ~= 0.32"
]
build-backend = "setuptools.build_meta"
{% if uses_versioningit %}

[tool.versioningit]
{% endif %}
