.. image:: http://www.repostatus.org/badges/latest/wip.svg
    :target: http://www.repostatus.org/#wip
    :alt: Project Status: WIP — Initial development is in progress, but there
          has not yet been a stable, usable release suitable for the public.

{% if has_ci %}
.. image:: https://github.com/{{github_user}}/{{repo_name}}/workflows/Test/badge.svg?branch={{default_branch}}
    :target: https://github.com/{{github_user}}/{{repo_name}}/actions?workflow=Test
    :alt: CI Status

.. image:: https://codecov.io/gh/{{codecov_user}}/{{repo_name}}/branch/{{default_branch}}/graph/badge.svg
    :target: https://codecov.io/gh/{{codecov_user}}/{{repo_name}}

{% endif %}
{% if has_pypi %}
.. image:: https://img.shields.io/pypi/pyversions/{{name}}.svg
    :target: https://pypi.org/project/{{name}}/

{% endif %}
.. image:: https://img.shields.io/github/license/{{github_user}}/{{repo_name}}.svg
    :target: https://opensource.org/licenses/MIT
    :alt: MIT License

`GitHub <https://github.com/{{github_user}}/{{repo_name}}>`_
{% if has_pypi %}
| `PyPI <https://pypi.org/project/{{name}}/>`_
{% endif %}
{% if has_docs %}
| `Documentation <https://{{rtfd_name}}.readthedocs.io>`_
{% endif %}
| `Issues <https://github.com/{{github_user}}/{{repo_name}}/issues>`_

INSERT LONG DESCRIPTION HERE

Installation
============
{% set installation %}
``{{name}}`` requires Python {{python_versions[0]}} or higher.  Just use `pip
<https://pip.pypa.io>`_ for Python 3 (You have pip, right?) to install it::
{% endset %}
{{installation|rewrap}}

    python3 -m pip install {{name}}


Examples
========
INSERT EXAMPLES HERE
