[metadata]
name = {{name}}
version = attr:{{import_name}}.__version__
description = {{short_description}}
long_description = file:README.rst
long_description_content_type = text/x-rst
author = {{author}}
author_email = {{author_email}}
license = MIT
license_files = LICENSE
url = https://github.com/{{github_user}}/{{repo_name}}

keywords =
{% if keywords %}
{% for k in keywords %}
    {{k}}
{% endfor %}
{% else %}
    ###
{% endif %}

classifiers =
    Programming Language :: Python :: 3 :: Only
    Programming Language :: Python :: 3
{% for v in python_versions %}
    Programming Language :: Python :: {{v}}
{% endfor %}
    Programming Language :: Python :: Implementation :: CPython
{% if supports_pypy %}
    Programming Language :: Python :: Implementation :: PyPy
{% endif %}
    License :: OSI Approved :: MIT License
    ###
{% if has_typing %}
    Typing :: Typed
{% endif %}

project_urls =
    Source Code = https://github.com/{{github_user}}/{{repo_name}}
    Bug Tracker = https://github.com/{{github_user}}/{{repo_name}}/issues
    {% if has_docs %}
    Documentation = https://{{rtfd_name}}.readthedocs.io
    {% endif %}

[options]
{% if is_flat_module %}
py_modules = {{import_name}}
{% else %}
packages = find_namespace:
{% endif %}
package_dir =
    =src
include_package_data = True
python_requires = {{python_requires}}
{% if install_requires %}
install_requires =
    {% for req in install_requires %}
    {{req}}
    {% endfor %}
{% endif %}
{% if not is_flat_module %}

[options.packages.find]
where = src
{% endif %}
{% if commands %}

[options.entry_points]
console_scripts =
    {% for name, ep in commands.items() %}
    {{name}} = {{ep}}
    {% endfor %}
{% endif %}
{% if has_typing %}

{% block mypy %}
[mypy]
allow_incomplete_defs = False
allow_untyped_defs = False
ignore_missing_imports = True
# <https://github.com/python/mypy/issues/7773>:
no_implicit_optional = True
implicit_reexport = False
local_partial_types = True
pretty = True
show_error_codes = True
show_traceback = True
strict_equality = True
warn_redundant_casts = True
warn_return_any = True
warn_unreachable = True
{% endblock %}
{% endif %}
