{% if has_tests %}
[tox]
envlist = {% if has_typing %}typing,{% endif %}{% for v in python_versions %}py{{v|replace('.', '')}},{% endfor %}pypy3
skip_missing_interpreters = True
isolated_build = True
minversion = 3.3.0

[testenv]
deps =
    {% if has_doctests %}
    coverage~=5.0
    {% endif %}
    flake8~=3.7
    flake8-bugbear
    flake8-builtins~=1.4
    flake8-import-order-jwodder
    pytest~=6.0
    {% if not has_doctests %}
    pytest-cov~=2.0
    {% endif %}
commands =
    flake8 --config=tox.ini src test
{% if has_doctests %}
    coverage erase
    coverage run -m pytest {posargs} --doctest-modules --pyargs {{import_name}}
    coverage run -m pytest {posargs} test
    coverage combine
    coverage report
{% else %}
    pytest {posargs} test
{% endif %}
{% if has_typing %}

{% block testenv_typing %}
[testenv:typing]
deps =
    mypy~=0.570
    {[testenv]deps}
commands =
    mypy src test
{% endblock %}
{% endif %}

[pytest]
{% if not has_doctests %}
addopts = --cov={{import_name}} --no-cov-on-fail
{% endif %}
filterwarnings = error
norecursedirs = test/data

[coverage:run]
branch = True
parallel = True
{% if has_doctests %}
source = {{import_name}}
{% endif %}

[coverage:paths]
source =
    src
    .tox/*/site-packages

[coverage:report]
precision = 2
show_missing = True

[flake8]
application-import-names = {{import_name}}
doctests = True
exclude = .*/,build/,dist/,test/data,venv/
hang-closing = False
import-order-style = jwodder
max-doc-length = 80
max-line-length = 80
select = C,B,B902,B950,E,E242,F,I,W

ignore =
    B005,
    E116, E121, E122, E126, E127, E128, E131, E133,
    E221, E222, E225, E226, E227, E228, E231, E241, E251, E262, E265, E266,
    E271, E272,
    E302, E305, E306,
    E402,
    E501,
    E721,
    I201,
    W503,
{% endif %}
{% if has_tests and has_docs %}

{% endif %}
{% if has_docs %}
[testenv:docs]
basepython = python3
deps = -rdocs/requirements.txt
changedir = docs
commands = sphinx-build -E -W -b html . _build/html
{% endif %}
