.. module:: {{import_name}}

{{'=' * ((name + ' — ' + short_description)|length)}}
{{name}} — {{short_description}}
{{'=' * ((name + ' — ' + short_description)|length)}}

`GitHub <https://github.com/{{github_user}}/{{repo_name}}>`_
{% if has_pypi %}
| `PyPI <https://pypi.org/project/{{name}}/>`_
{% endif %}
| `Documentation <https://{{rtfd_name}}.readthedocs.io>`_
| `Issues <https://github.com/{{github_user}}/{{repo_name}}/issues>`_

.. toctree::
    :maxdepth: 2

INSERT LONG DESCRIPTION HERE

Installation
============
{% set installation %}
``{{name}}`` requires Python {{python_versions[0]}} or higher.  Just use `pip
<https://pip.pypa.io>`_ for Python 3 (You have pip, right?) to install
``{{name}}`` and its dependencies::
{% endset %}
{{installation|rewrap}}

    python3 -m pip install {{name}}


Examples
========
INSERT EXAMPLES HERE


Indices and tables
==================
* :ref:`genindex`
* :ref:`search`
