language: python
cache: pip
dist: bionic
python:
    {% for v in python_versions %}
    - '{{v}}'
    {% endfor %}
    - pypy3
install:
    - pip install codecov tox
script:
    - tox -e py
after_success:
    - codecov
