{% if has_tests %}
[tox]
envlist = {% for v in python_versions %}py{{v|replace('.', '')}},{% endfor %}pypy3
skip_missing_interpreters = True

[testenv]
usedevelop = True
deps =
    pytest~=4.0
    pytest-cov~=2.0
    pytest-flakes~=4.0
commands = pytest {posargs} {{import_name}}{% if is_flat_module %}.py{% endif %} test

[pytest]
addopts =
    --cache-clear
    --cov={{import_name}}
    --no-cov-on-fail
    --doctest-modules
    --flakes
filterwarnings = error

[coverage:run]
branch = True

[coverage:report]
precision = 2
show_missing = True
{% endif %}
{% if has_tests and has_docs %}

{% endif %}
{% if has_docs %}
[testenv:docs]
basepython = python3
deps = -rdocs/requirements.txt
changedir = docs
commands = sphinx-build -E -W -b html . _build/html
{% endif %}
